@import url('normalize.css');
/* General Demo Style */
@font-face{
   font-family: 'AlexBrush-Regular-OTF';
   src:url(../font/AlexBrush-Regular-OTF.otf) format('opentype');
}

@font-face{
   font-family: 'Overlock-Regular-OTF';
   src:url(../font/Overlock-Regular-OTF.otf) format('opentype');
}
html, body, #carousel, #carousel ul, #carousel li {
	height: 100%;
	padding: 0;
	margin: 0;
 	position: relative;
}
body{
	font-family: 'Overlock-Regular-OTF', 'Arial Narrow', serif;
	/*background: url(../images/bg_main.jpg);*/
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
a, a:hover, a:active, a:focus{
	color: #555;
	text-decoration: none;
	outline: none;
}
.container{
	width: 1024px;
	height: 760px;
	margin: 0 auto;
	padding: 0;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.container > header{
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: 'AlexBrush-Regular-OTF';
	font-size: 46px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #efefef;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.container > header h2{
	font-family: 'AlexBrush-Regular-OTF';
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #e6e6e6;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
/* Demo Buttons Style*/ 
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 8px;
	padding: 4px 10px;
	color: #aaa;
	line-height: 20px;	
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); 
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.codrops-demos a:hover{
	color: #333;
	background: #fff;
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f0f0f0;
	border-color: #d9d9d9;
	color: #aaa;
	box-shadow: 0 1px 1px rgba(58,63,68,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}